<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HuajiTech.CoolQ" version="0.4.2-beta.1" targetFramework="net472" />
  <package id="HuajiTech.CoolQ.Abstractions" version="0.4.2-beta" targetFramework="net472" />
  <package id="HuajiTech.CoolQ.Core" version="0.4.2-beta" targetFramework="net472" />
  <package id="HuajiTech.CoolQ.Messaging" version="0.4.2-beta" targetFramework="net472" />
  <package id="HuajiTech.CoolQ.Packing.ILRepack" version="0.4.2-beta" targetFramework="net472" />
  <package id="HuajiTech.UnmanagedExports.Metadata" version="1.0.2" targetFramework="net472" />
  <package id="HuajiTech.UnmanagedExports.MSBuild" version="1.0.0-rc2" targetFramework="net472" />
  <package id="ILRepack.Lib.MSBuild.Task" version="2.0.18.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
</packages>